* {
    box-sizing: border-box;
    /* margin: 2px;
    padding: 2px; */
    /* border: 1px solid black; */
}

.map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.form,
.displayName {
    position: absolute;
    left: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
    width: fit-content;
    border-radius: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.form>* {
    margin-left: 5px;
}

.displayName {
    bottom: 8px;
}

.error {
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 1.25em;
    top: 40%;
    left: 40%;
    background-color: rgba(255, 50, 50, 0.5);
    border-radius: 5px;
    padding: 1em;
}

.weather-card {
    display: 'inline-block';
    padding: '0 .5rem';
    width: '3.8rem';
    background-color: 'rgba(255, 255, 255, 0.8)',
}